    - configuration:
        file: /tmp/${job.job_id}/${job.execution_uuid}/approved.yaml
        interval: '60'
        maxtry: '10'
      description: Waiting For Approve
      nodeStep: true
      type: nixy-waitfor-file-exists
