{% include "job-base.j2" %}
    commands:
      - description: Add vault into UI
        autoSecureInput: "{{ autoSecureInput | default('false') }}"
        passSecureInput: "{{ passSecureInput | default('false') }}"
        script: |
          # This will add into 
          export VAULT_ADDR="http://vault:8200"
          export VAULT_PATH="gke/${RD_OPTION_VAULTNAME}"
          export EXEC_LOCATION=$HOME/projects/$RD_JOB_PROJECT
          echo $EXEC_LOCATION
          ls $EXEC_LOCATION
          python3 $EXEC_LOCATION/vault-value-input.py -i {{keys}}
      - description: Job completed
        autoSecureInput: "{{ autoSecureInput | default('false') }}"
        passSecureInput: "{{ passSecureInput | default('false') }}"
        script: |
          echo "Approved by ${RD_JOB_USERNAME}" > /tmp/{{job_id}}/{{execution_uuid}}/approved
          export EXEC_LOCATION=$HOME/projects/$RD_JOB_PROJECT
          cat /tmp/$RD_JOB_ID/vault-gke-$RD_JOB_EXECID.yaml
          python3 $EXEC_LOCATION/clean-job.py --path /tmp/$RD_JOB_ID
          echo "[SUCCESS] Secrets successfully ${RD_OPTION_ACTION}."
    keepgoing: false
    strategy: node-first
